POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=RAG_System
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123

QDRANT_URL=
QDRANT_API_KEY=

OLLAMA_URL=http://localhost:11434
EMBEDDING_MODEL=embeddinggemma:300m
